button {
    width: 100%;
    font-size: 2rem!important;
    
}
body{
    left:35%; 
    top: 30%;
    right: 30%;
    bottom: 30%;
    position:absolute;
}
.font-bold{
    font-weight: bold;
}
.button-center{
    position: relative;
    left: 97px;
}
.number-center{
    position: relative;
    left: 38px;
}
